# Archivos de Git
.git
.gitignore

# Archivos de Docker
Dockerfile
.dockerignore

# Dependencias
node_modules/

# Archivos de build
build/
dist/

# Archivos de desarrollo
*.log
.DS_Store

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de configuración local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de test
coverage/ 